div(class='CH-tippy-click CH-tippy-click-grid-exchanges')

  header
    h3 #{header.name} Exchanges
    span listed on <strong>#{header.total}</strong> exchanges / #{header.numberOfPairs} pairs
    br
    span(class='ch-fiat') #{header.numberOfFiat} exchanges accept fiat
    span &nbsp;/ #{header.numberOfCrypto} are crypto only
    span(class='ch-dex') &nbsp; (#{header.numberOfDex} of which are DEX's)

  section(id=gridId class='ag-theme-balham')

  footer
