div(class='ch-grid' style='grid-template-columns: ' + gridColumns)

  if home
    div(class='ch-item')
      a(class='ch-home' href=window.location.origin)
        i(class='fa fa-home')
        = ' Home'

  if edit
    div(class='ch-item')
      span(class='ch-edit')
        i(class='fa fa-edit')
        = ' Edit Columns'

  if load
    div(class='ch-item')
      span(class='ch-load')
        i(class='fa fa-folder-open')
        = ' Open'
        div(class='ch-load-container')

  if save
    div(class='ch-item')
      span(class='ch-save')
        i(class='fa fa-save')
        = ' Save'
        div(class='ch-save-container')

  if blog
    div(class='ch-item')
      a(class='ch-blog' href=window.location.origin + '/blog' target='_blank')
        i(class='fa fa-blog')
        = ' Blog'

  if twitter
    div(class='ch-item')
      span(class='ch-social')
        span(class='ch-social-twitter')
          a(
            href='https://twitter.com/BinaryOverdose?ref_src=twsrc%5Etfw'
            class='twitter-follow-button'
            data-show-screen-name='false'
            data-show-count='false'
            title='Follow @BinaryOverdose'
            target='_blank'
          )
            i(class='fab fa-twitter')

  if presets
    div(class='ch-item')
      div(class='ch-presets')
        ul
          li
            span Views:
          li
            a(href='google.com') Price
          li
            a(href='google.com') Fundamentals
          li
            a(href='google.com') Technology
        ul
          if loggedIn
            li
              span Custom:
            li
              span [ No saved view ]
          else
            li
              span Custom:
            li
              span(class='bo-greyed') [ login required ]
        div(class='bo-more')
          i(class='fas fa-ellipsis-h')

  if live
    div(class='ch-item')
      div(class='ch-live') Live
        span

  if indicators
    div(class='ch-item' style='display: none')
      span(class='ch-data')
        span(class='ch-up')
          span(class='ch-val') #{upPer}
          span(class='ch-symbol')
            = '▲'
        span(class='ch-dn')
          span(class='ch-val') #{dnPer}
          span(class='ch-symbol')
            = '▼'

  if tokens
    div(class='ch-item' style='display: none')
      span(class='ch-total')
        span
          span(class='ch-val') #{total} tokens

  if updated
    div(class='ch-item')
      span(class="ch-updated")

  if login
    div(class='ch-item')
      div(class='ch-login-container')
