div(class='ch ch-tippy-click')

  header
    h3 #{header.name}
    span listed on <strong>#{header.total}</strong> exchanges / #{header.numberOfPairs} pairs
    br
    span(class='ch-fiat') #{header.numberOfFiat} accept fiat
    span &nbsp;/ #{header.numberOfCrypto} crypto only
    span(class='ch-dex') &nbsp; (#{header.numberOfDex} of which are DEX's)

  section
    each val in body
      div(class='ch-country')
        header #{val.country}
        table
          each fiat in val.fiat
            tr
            td
              span(class='ch-fiat')
                a(href=fiat.url target='_blank')
                  i(class='fas fa-external-link-alt')
                  span #{fiat.name}
            td
              span(title='fiat / crypto')
                span(class='ch-fiat') #{fiat.numberOfFiatCurrencies}
                span &nbsp;/&nbsp;
                span #{fiat.numberOfCryptocurrencies}
          each crypto in val.crypto
            tr
            td
              span(class='ch-crypto')
                a(href=crypto.url target='_blank')
                  i(class='fas fa-external-link-alt')
                  span #{crypto.name}
            td
              span(title='fiat / crypto')
                span(class='ch-crypto') 0
                span &nbsp;/&nbsp;
                span #{crypto.numberOfCryptocurrencies}

  footer
