div(class='BO-tingle BO-edit-dialogue')

  header
    h2 #{header.title}
    div #{header.subtitle}

  section

    table
      tr
        th
          header #{totalAvailable} Columns Available
          div(class='bo-search')
            i(class='fas fa-window-close')
            input(type='text' placeholder='e.g. market cap, exchange, proof...')
            button(class='BO-btn bo-btn-secondary bo-add-matches bo-btn-disabled') Add
              span(class='bo-matches') 0
            button(class='BO-btn bo-btn-secondary bo-clear-matches bo-btn-disabled') Delete
              span(class='bo-matches') 0
        th
          header Displaying&nbsp;
            span(class='bo-total-selected') #{totalSelected}
          div(class='bo-search bo-placeholder')
            input(type='text')
      tr
        td(rowspan=2 class='bo-left')
          div(id='tree')
        td(style="height: 1px; display: none")
          ul(class='bo-active-columns-frozen')
            each column in frozenColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.title}
      tr
        td
          div(id='tree2' class='bo-right' style='margin-top: -2px')
      tr
        td
          div(class='bo-footer')
        td
          div(class='bo-footer')
            button(class='BO-btn bo-btn-secondary bo-clear-selections') Clear Selections
            button(class='BO-btn bo-btn-secondary bo-add-custom') Add Custom

  footer
