div(class='BO-edit-dialogue')

  header
    h2 #{header.title}
    div #{header.subtitle}

  section

    table
      tr
        th
          header Available Columns
        th
          header Displayed Columns
      tr
        td(rowspan=2)
          ul(class='bo-available-columns')
            each column in availableColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.name}
        td(style="height: 1px")
          ul(class='bo-active-columns-frozen')
            each column in frozenColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.name}
      tr
        td
          ul(class='bo-active-columns')
            each column in activeColumns
              li(data-id=column.id)
                span(class='bo-column') #{column.name}

  footer
