div(class='BO-edit-dialogue')

  header
    h2 #{header.title}
    div #{header.subtitle}

  section

    table
      tr
        th
          header Available Columns
        th
          header Displayed Columns
      tr
        td(rowspan=2)
          ul(class='bo-available-columns')
            each column in availableColumns
              li
                span(class='bo-column') #{column}
        td(style="height: 1px")
          ul(class='bo-active-columns-frozen')
            each column in frozenColumns
              li
                span(class='bo-column') #{column}
      tr
        td
          ul(class='bo-active-columns')
            each column in activeColumns
              li
                span(class='bo-column') #{column}

  footer
